<!DOCTYPE html>
<html>
<head>
  <title>error</title>
  <link rel="stylesheet" type="text/css" href="../src/Resources/Public/css/style.css">
  <link rel="stylesheet" type="text/css" href="../src/Resources/Public/css/main.css">
</style>
</head>
<body>
  <div class="header">
    <div class="title">
      <h2>提示 </h2>
    </div>
    <hr>
  </div>
  <div class="error">
    <h2>error: {{ error }}</h2>
  </div>
</body>
</html>