<html>

	<head>
		<title>登录</title>
	</head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css" />
	<link href="css/signin.css" rel="stylesheet" />
	<script src="js/angular.js"></script>

	<body>
		<header>

		</header>
		<div class="container">

			<form ng-app="forms" ng-controller="formsCtrl" name="Signinform" class="form-signin" novalidate>
				<h2 class="form-signin-heading">请登录</h2>
				<input type="text" class="form-control" name="username" ng-model="username" ng-pattern="/^(a-zA-Z)+/" placeholder="Username" required>
				<span ng-show="Signinform.username.$dirty && Signinform.username.$invalid">
  				  <span ng-show="Signinform.username.$error.required">用户名是必须的。</span>
				  <span ng-show="Signinform.username.$error.pattern">用户名不符合规则</span>
				</span>
				<input type="text" class="form-control" name="password" ng-model="password" ng-minlength="8" placeholder="Password" required>
				<span ng-show="Signinform.password.$dirty && Signinform.password.$invalid">
					<span ng-show="Signinform.password.$error.required">密码是必须的。</span>
				 	<span ng-show="Signinform.password.$error.minlength">密码不能低于8位</span>
				</span>
				<div class="checkbox">
					<label>
            			<input type="checkbox" value="remember-me"> 记住密码
      		    	</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="Signinform.username.$dirty && Signinform.username.$invalid||Signinform.password.$dirty && Signinform.password.$invalid">登录</button>
			</form>
		</div>
		<footer></footer>
	</body>
	<script>
		var forms = angular.module('forms', []);
		forms.controller('formsCtrl', function($scope) {
			$scope.username = "";
			$scope.password = "";
		})
	</script>

</html>